
/* Your CSS Code here. */
*{
	background-color: lightgray
}
h1{
	text-align: center;
	margin-bottom: 40px;
}
form{
	display: flex;
	flex-direction: column;
	justify-content:center;
    gap: 10px;
	padding: 20px;
}
input,select,button{
	width: 60%;
	padding: 10px;
}

button{
	background-color: lightcoral
}
